import model from './model'
import schema from './schema'
import resolvers from './resolvers'
import inputs from './inputs'
import types from './types'

export default { schema, resolvers, inputs, types, model }
